<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section class=" PrePage">
			<h1>BUSINESS HOURS</h1>
			<p>MON-SAT 11:00-2AM</p>
			<p>SUNDAY 11:00-1:30AM</p>
			<p>HAPPY HOUR 3-6 MON-FRI</p>
			<span>KITCHEN OPEN UNTIL 8??</span>
			<p>COULD PUT SCHEDULING HERE</p>
			<P>LIVE MUSIC SATURDAYS KAREOKE TUES ETC</P>
			<button id="enterSite"></button>
			<span>Click To Enter</span>
		</section>
		<main>
			<header> 
				<nav>
					<ul>
						<li><a href='#'>Home</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Menu</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>
				
				<img id="wunderbarLogo" src="https://petescully.files.wordpress.com/2013/03/wunderbar-032813-sm.jpg" alt="WUNDERBAR LOGO">
				<span>228 G Street</span>
				<span>(530)756-9227</span>
			</header>

			<section></section>
			<section></section>
		</main>


		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
